[client]
port = 3306
#socket = /var/lib/mysql/mysql.sock

[mysqld]
ignore-db-dir=lost+found
datadir=/var/lib/mysql
#socket = /var/lib/mysql/mysql.sock
pid-file=/var/lib/mysql/mysqldock.pid
user=mysql
character-set-server = utf8

#bind-address=127.0.0.1
#skip-name-resolve
skip-performance-schema
skip-symbolic-links
#http://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_explicit_defaults_for_timestamp
#explicit_defaults_for_timestamp

innodb=ON
#skip-innodb
skip-federated
skip-archive

# pre-MySQL 5.6 compatibility settings
# http://dev.mysql.com/doc/refman/5.6/en/innodb-performance.html#innodb-crc32-checksum
innodb_checksum_algorithm=INNODB
binlog_checksum=NONE

# MySQL 5.6 specific
innodb_stats_persistent=Off
innodb_page_size=16k
innodb_sort_buffer_size=1M
innodb_buffer_pool_dump_at_shutdown=On
innodb_buffer_pool_load_at_startup=On
innodb_change_buffer_max_size=25
innodb_change_buffering=all
innodb_random_read_ahead=Off

innodb_io_capacity_max=200
innodb_flush_neighbors=1
innodb_rollback_segments=128
innodb_lru_scan_depth=1K
innodb_io_capacity=100
innodb_read_io_threads=4
innodb_write_io_threads=2

# General
back_log=75
max_connections=100
key_buffer_size=16M
myisam_sort_buffer_size=32M
myisam_max_sort_file_size=2048M
join_buffer_size=128K
read_buffer_size=128K
sort_buffer_size=128K
table_definition_cache=4096
table_open_cache = 2048
table_open_cache_instances=4
thread_cache_size=64
wait_timeout=120
connect_timeout=10
lock_wait_timeout=100
tmp_table_size = 32M
max_heap_table_size = 32M
max_allowed_packet = 32M
#max_seeks_for_key=1000
#group_concat_max_len=1024
#max_length_for_sort_data=1024
#net_buffer_length=16384
max_connect_errors=100000
concurrent_insert=2
read_rnd_buffer_size=256K
bulk_insert_buffer_size=8M
query_cache_limit=512K
query_cache_size = 16M
query_cache_type = 0
query_cache_min_res_unit=2K
default-storage-engine=InnoDB
default-tmp-storage-engine=InnoDB
performance_schema=0

log_warnings=1
log_queries_not_using_indexes=0
log_throttle_queries_not_using_indexes=10
slow_query_log=0
long_query_time=1
slow_query_log_file=/var/lib/mysql/slowq.log
log-error=/var/log/mysqld.log

# innodb settings
innodb_doublewrite=1
innodb_file_per_table=1
innodb_open_files=1000
innodb_data_file_path= ibdata1:10M:autoextend
innodb_buffer_pool_instances=1
innodb_buffer_pool_size=16M

innodb_log_files_in_group=2
innodb_log_file_size=48M
innodb_log_buffer_size=8M
innodb_flush_log_at_trx_commit=2
innodb_thread_concurrency=0
innodb_lock_wait_timeout=50
#innodb_flush_method=O_DIRECT
innodb_flush_method=O_DIRECT_NO_FSYNC
innodb_support_xa=1

[mysqld_safe] 
pid-file=/var/lib/mysql/mysqldock.pid
#socket = /var/lib/mysql/mysql.sock
log-error=/var/log/mysqld.log
#nice=-5
open-files-limit=8192

[mysqldump]
quick
quote-names
disable-keys
events
routines
triggers
max_allowed_packet = 32M

[myisamchk] 
key_buffer=16M 
sort_buffer=256K
read_buffer=256K
write_buffer=256K

[mysqlhotcopy]
interactive-timeout